<div class="about-container">
  <!-- Titre avec animation -->
  <h2 class="animated-title">{{ 'ABOUT.project' | translate }}</h2>

  <!-- Boucle à travers les projets -->
  <div class="project-grid">
    <div class="project-box" *ngFor="let project of projects">
      <a [href]="project.link" target="_blank" class="project-link">
        <div class="project-image">
          <img [src]="project.image" alt="{{ project.name }}">
        </div>

        <!-- Nom du projet -->
        <div class="project-info">
          <h3>{{ project.name }}</h3>
          <div class="project-languages">
            <!-- Boucle pour afficher les logos et noms des langages -->
            <i *ngFor="let language of project.languages" [class]="language.iconClass" title="{{ language.name }}"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
