<!-- contact.component.html -->
<div class="contact-container">
  <div class="contact-info">
    <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
    <p style="font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; color: #333;">
      {{ 'CONTACT.DESCRIPTION' | translate }}
    </p>
    <ul>
      <li>
        <span class="contact-label">{{ 'CONTACT.EMAIL_LABEL' | translate }}</span>
        <span class="contact-value">Mahdibeyy&#64;gmail.com</span>
      </li>
      <li>
        <span class="contact-label">{{ 'CONTACT.PHONE_LABEL' | translate }}</span>
        <span class="contact-value">(+216) 56 327 280</span>
      </li>
      <li>
        <span class="contact-label">{{ 'CONTACT.ADDRESS_LABEL' | translate }}</span>
        <span class="contact-value">14 Rue Sokrat, Bir El Bey, Ben Arous, Tunisia</span>
      </li>
    </ul>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/mahdi-bey-a91865254" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100075905056036" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/mahdibeyyy/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="mailto:mahdibeyy@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</div>