<!-- contact.component.html -->
<div class="contact-container">
    <div class="contact-info">
      <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
      <p>{{ 'CONTACT.DESCRIPTION' | translate }}</p>
      <ul>
        <li><strong>{{ 'CONTACT.EMAIL' | translate }}</strong></li>
        <li><strong>{{ 'CONTACT.PHONE' | translate }}</strong></li>
        <li><strong>{{ 'CONTACT.ADDRESS' | translate }}</strong></li>
      </ul>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/mahdi-bey-a91865254" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100075905056036" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/mahdibeyyy/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  