<div class="home-container">
  <div class="text-container">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    <!-- Ajout du bouton "Get Resume" sous le texte -->
    <div class="resume-button">
      
        <a href="assets/CV.pdf" download="CV.pdf">
        <button class="btn-resume">{{ 'HOME.CV' | translate }}</button>
      </a>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/images/mp.jpg" alt="Mahdi Bey">
    <div class="social-links">
      <a href="https://www.facebook.com/profile.php?id=100075905056036" target="_blank">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      <a href="https://www.instagram.com/mahdi.bey" target="_blank">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a href="https://www.linkedin.com/in/mahdi-bey-a91865254" target="_blank">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
  </div>
</div>


